<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
	<script>
	    var pageTag = "";
	    var RoldeBtnCount = '';
	    //角色权限
	    var PageBtnList = Array();
	</script>
	<link href="/App_Themes/Icons/icon.css" rel="stylesheet" type="text/css" />
	<link href="/App_Themes/EasyUI/easyui.css" rel="stylesheet" type="text/css" />
	<link href="/App_Themes/Admin/Page.css" rel="stylesheet" type="text/css" />

	<script src="/Scripts/JQuery.js" type="text/javascript"></script>
	<script src="/Scripts/jquery.easyui.js" type="text/javascript"></script>
	<script src="/Scripts/Cookies.js" type="text/javascript"></script>
	<script src="/Scripts/DataGridExtend.js" type="text/javascript"></script>
	
	<script src="/Scripts/Windows.js" type="text/javascript"></script>
	<script src="/Scripts/loadmask.min.js" type="text/javascript"></script>
	<script src="/Plugins/artDialog/jquery.artDialog.source.js?skin=blue" type="text/javascript"></script>
	<script src="/Plugins/artDialog/plugins/iframeTools.js" type="text/javascript"></script>
	<script src="/Scripts/HammerEasyGrid.js" type="text/javascript"></script>
	<script src="/Scripts/Form.js" type="text/javascript"></script>
	<script src="/Scripts/json2.js" type="text/javascript"></script>
	<script src="/Scripts/validate.js" type="text/javascript"></script>
</head>

<body>
	<div style="height: 100%; overflow: inherit;">
		@RenderBody()
	</div>
	<script>
	    InitPageRightKey(PageBtnList); //最后执行初始化
    </script>
</body>
</html>