<appSettings>
	<add key="webpages:Version" value="1.0.0.0"/>
	<add key="ClientValidationEnabled" value="true"/>
	<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
	<add key="MySql" value="Server=pjzzjp10.gotoftp3.com;Database=pjzzjp10; User=pjzzjp10;Password=jerry!1zjp;Charset=utf8"/>
	<add key="ImageRelDirectory" value="/Content/Upload/Images/"/>
	<add key="ImageSysRelDirectory" value="/Content/Upload/Images/"/>
	<add key="ImageCacheDirectory" value="/Content/Upload/Images/" />
	<add key="ImageWebDir" value="/Images/"/>
</appSettings>
