@{
    ViewBag.Title = "MenuList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="searchBar">
    <ul>
        <li><span class="title">公告标题：</span>
            <input type="text" id="title" /></li>
        <li><span class="title">发布时间：</span>
            <input type="text" id="startdate" class="col-begintime" onfocus="WdatePicker()" />
            至
            <input type="text" id="enddate" class="col-endtime" onfocus="WdatePicker()" /></li>
    </ul>
</div>
<div class="toolBar">
    <table cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <a href="javascript:void(0)" class="easyui-linkbutton" plain="false" iconcls="icon-add"
                    onclick="Add()">新增</a>
            </td>
            <td>
                <div class="toolBar_separator">
                </div>
            </td>
            <td>
                <a href="javascript:void(0)" class="easyui-linkbutton" plain="false" iconcls="icon-expandAll"
                    onclick="expandAll()">全部展开</a>
            </td>
            <td>
                <div class="toolBar_separator">
                </div>
            </td>
            <td>
                <a href="javascript:void(0)" class="easyui-linkbutton" plain="false" iconcls="icon-collapseAll"
                    onclick="collapseAll()">全部收起</a>
            </td>
        </tr>
    </table>
</div>
<div id="menuList">
</div>

<script language="javascript" type="text/javascript">
	InitMenuAuthorityList = function () {
		var queryParams = {};
		$('#menuList').treegrid({
			queryParams: queryParams,
			width: "auto",
			height: "auto",
			nowrap: true,
			animate: true,
			collapse: true,
			url: '/Admin/Menu/MenuJosn',
			idField: 'idtype',
			treeField: 'MenuName',
			singleSelect: true,
			fitColumns: false, //列根据宽度调整
			fit: true,
			columns: [[
					{ field: 'MenuName', title: '名称', align: 'left', width: 200 },
					{ field: 'MenuUrl', title: '路径', align: 'left', width: 300, formatter: urlFormat },
                    { field: 'Type', title: '类型', align: 'left', width: 70, formatter: typeFormat },
//                    { field: 'RightKey', title: '权限key', align: 'left', width: 300 },
                    { field: 'Selected', title: '默认打开', align: 'left', width: 60, formatter: selectFormat },
                    { field: 'op', title: '操作', align: 'left', width: 130, formatter: opFormat }
				]],
			toolbar: [],
			//选择列
			onHeaderContextMenu: function (e, field) {
				DataGridExtend.headerContextMenu(e, field, $(this).attr('id'), pageTag + '.' + $(this).attr('id'))
			},
			//加载成功的时候，初始化隐藏列
			onLoadSuccess: function (data) {
				DataGridExtend.loadSuccessInit($(this).attr('id'), pageTag + '.' + $(this).attr('id'))
			},
			onLoadError: function () {
				alert("数据加载错误，请重新登陆系统");
			}
		});
		$(window).resize(function () {
			$("#menuList").treegrid("resize");
		});
		//搜素栏
		$(".datagrid-toolbar").append($(".searchBar"));
		//工具栏
		$(".datagrid-toolbar").append($(".toolBar"));
	};
	/*全部展开*/
	expandAll = function () {
		$("#menuList").treegrid('expandAll');
	};
	/*全部收起*/
	collapseAll = function () {
		$("#menuList").treegrid('collapseAll');
	};
	/*默认打开列*/
	selectFormat = function (val, row, rowIndex) {
		if (row.Selected == "Y")
			return "是";
		else
			return "否";
	};
	/*类型列*/
	typeFormat = function (val, row, rowIndex) {
		if (row.Type == "Menu")
			return "菜单";
		else
			return "页面";
	};
	/*地址列*/
	urlFormat = function (val, row, rowIndex) {
		if (row.Type == "Page") {
			return row.MenuUrl;
		} else {
			return "";
		}
	};
	/*操作列*/
	opFormat = function (val, row, rowIndex) {
		var strValue = "";
		var strText = "";
		if (row.Enable == "Y") {
			strValue = "Y";
			strText = "禁用";
			
		} else {
            strText = "启用";
			strValue = "N";
		}
		return "<a href=\"javascript:void(0)\" onClick=\"Update('" + row.ID + "','" + row.Type + "')\" >编辑</a> | <a href=\"javascript:void(0)\" onClick=\"Delete('" + row.ID + "','" + strValue + "','" + row.Type + "','" + strText + "')\" >" + strText + "</a>";
	};

	/*刷新页面*/
	reflesh = function () {
		//alert('1');
		$('#menuList').treegrid('options').url = "/Admin/Menu/MenuJosn",
        $("#menuList").treegrid('reload');
	};
	/*编辑*/
	function Update(id, type) {
		PW.getWindow('../../Admin/Menu/EditMenu' + '?id=' + id + '&type=' + type, '编辑菜单', 550, 280);
	};

	/*禁用启用操作*/
	function Delete(id, state, type, text) {
		if (confirm('确定要' + text + '？') == true) {
			var param = {
				id: id,
				state: state,
				type: type
			};

			$.U1Ajax("../../Admin/Menu/DeleteMenu", param, function (result) {
				if (result) {
					alert(text + '成功！');
					reflesh();
				} else {
					alert(text + '失败！');
				}
			}, false);
		}
	};

	/*初始化加载*/
	$(function () {
		InitMenuAuthorityList();
	});

	function Add() {
		openPage('新增菜单', '/Admin/Menu/AddMenu?tab=' + getTabTitle());
	}
	function Edit(id) {
		PW.getWindow('/Admin/Menu/EditMenu/' + id, '编辑', 500, 400);
	}
</script>
