@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
@section head{
	<link href="@Url.Content("~/App_Themes/Site/about.css")" rel="stylesheet" type="text/css" />
}
@*左边*@
<div class="wl f_l">
	<div class="CurrentLocation">
		当前位置： <a href="/">首页</a> &gt; 学校概况
	</div>
	<div class="wcentent">
		<div class="SchoolOverview cl" id="SchoolOverview">
			<div class="title">
				&nbsp;</div>
			<ul class="nav">
				<li class="nav-one"><a class="current" href="#featured2">关于我们</a></li>
				<li class="nav-two"><a href="#core2">关于食宿</a></li>
				<li class="nav-three last"><a href="#jquerytuts2">我们的优势</a></li>
			</ul>
			<div class="list-wrap">
				<div id="featured2">
					<div class="about1">
						<h1 class="red">
							志诚学院培训学校简介：</h1>
						<p>
							&nbsp;&nbsp;&nbsp;&nbsp;创建于一九九九年， 是国内最早从事影楼摄影师、化妆师培训的专业机构之一, 连续多年被中国化妆委员会评 为：“优秀培训学校”、“名师名校”。成立之初就以时尚、摩登的前沿风格受到业界的强烈关注，随之不断配合市场变化及时推出的新技术、新作品受到了行业内的广泛关注和欢迎。迄今为止，时尚新锋已为国内培养了数万名精英摄影师、化妆师。在专业方面，我们长期与“中国影视化妆委员会”、“中央电视台”、“北京电视台”、《人像摄影杂志》、《今日人像杂志》、《中国化妆品杂志》、《中国科学美容杂志》、《嘉人杂志》、《昕薇杂志》、《格调杂志》、《悦己杂志》、《时尚新娘杂志》、《新娘杂志》、《时尚先生》、《女友》等众多电台和权威杂志合作。袁晓新更被中国影视化妆委员会评为“中国当代优秀化妆师”、“中国十大化妆师”、“人像十杰提名”、“亚太百杰摄影造型名师”、“中国金榜时尚摄影师”。学校被评为“优秀化妆教育单位
							指定化妆师摄影师培训单位”。现在时尚新锋已发展成为集摄影化妆数码人才培训、礼服婚纱销售、主题样片开发、婚纱摄影服务等多文化、复合型的摄影化妆专业集团公司。也将为行业发展尽一份力！</p>
						<p>
							&nbsp;&nbsp;&nbsp;&nbsp;※因为十多年教学经验积累，所以从课程设计到师资人才的 选拔，我们均从实际出发，一直保持最优。</p>
						<p>
							&nbsp;&nbsp;&nbsp;&nbsp;※创办以来，拥有国际化妆师张帅、中国金榜十佳化妆师任琪、中国金榜十佳化妆师章铃、中国人像十杰郑雨、中国人像十杰张罗平、中国人像摄影金榜十佳摄影师周家宝、中国金榜时尚摄影师阿杰、国内一线品牌影楼化妆摄影总监及主管等璀璨名师加盟。继往开来，在专业创作、师资培养方面、一直保持最优。</p>
						<p>
							&nbsp;&nbsp;&nbsp;&nbsp;※多年来与影视界、时尚界保持大量密切的深度合作，在流行风尚信息方面，我们一直与国际同步。</p>
						<p>
							&nbsp;&nbsp;&nbsp;&nbsp;※影楼经营、直接服务新人方面，时尚新锋下属北京印象视界摄影馆，更是京城国内婚纱摄影名店。而这些来自第一线最宝贵的实际经营经验，将直接传授给来校学习的学员。</p>
						<p>
							&nbsp;&nbsp;&nbsp;&nbsp;※时尚新锋一直秉承三好原则：质量好（教育竞争的根本）；升学好（不让学员掉队）；就业好（更是对学员的负责)。</p>
						<p>
							&nbsp;&nbsp;&nbsp;&nbsp;※多年来以出色的教学质量，严格的学院管理和完善的就业服务，成为名震中国影楼界的知名影楼技术培训机构。</p>
					</div>
				</div>
				<div class="hide" id="core2" style="position: relative; top: 0px; left: 0px; display: none;">
					<div class="about1">
						<h1 class="red">
							时尚新锋化妆摄影数码培训学校历程</h1>
						<p>
							&nbsp;&nbsp;&nbsp; <strong>时尚新锋</strong>创建于一九九九年，是国内最早从事影楼摄影师、化妆师培训的专业机构之一，成立之初就以时尚、摩登的前沿风格受到业界的强烈关注，随
							之不断配合市场变化及时推出的新技术、新作品受到了行业内的广泛关注和欢迎。<br>
							&nbsp;&nbsp;&nbsp; 时尚新锋化妆摄影数码培训学校被评为优秀化妆教育单位、指定化妆师摄影师培训单位。</p>
						<p style="text-align: center">
							<img alt="时尚新锋摄影化妆数码培训机构所获奖项" height="258" src="/statics/2012/images/images2012/pic/jiangbei.jpg"
								width="477"><br>
							<img alt="时尚新锋化妆学校|摄影学校 所获奖项" height="339" src="/statics/2012/images/images2012/pic/jiangxiang.jpg"
								width="477"></p>
						<p>
							<br>
							<strong>1999年化妆培训学校成立：</strong><br>
							&nbsp;&nbsp;&nbsp; 时尚新锋摄影化妆培训学校成立，“中国化妆品”“中国科学美容”、“中央电视台”、“美容化妆造型”、“美容时尚报”、“人像摄影”等国内权威媒体纷纷采访报道。<br>
							<strong>2000年全新推出合作基地：</strong><br>
							&nbsp;&nbsp;&nbsp; 2000年时尚新锋强势推出全新创作基地：独立的两层别墅楼，占地一千多平米的国内名牌培训机构，远离了喧闹的人流，使学员们得以静心创作。<br>
							<strong>2001年时尚新锋获奖、参加春晚：</strong><br>
							&nbsp;&nbsp;&nbsp; 2001年被中国化妆委员会被评为：“优秀培训学校”、“名师名校”。<br>
							&nbsp;&nbsp;&nbsp; 2001年春节晚会时尚新锋应邀参加化妆造型。<br>
							<strong>2002年时尚新锋获得奖项、大师称号：</strong><br>
							&nbsp;&nbsp;&nbsp; 2002年被中国化妆委员会被评为：“优秀培训学校”、“名师名校”。<br>
							&nbsp;&nbsp;&nbsp; 2002年申奥成功的晚会时尚新锋应邀参加化妆造型。<br>
							&nbsp;&nbsp;&nbsp; 2002年时尚新锋袁晓新老师和毛戈平老师、东田老师等同期获得"中国十大化妆师"称号 。<br>
							<strong>2003年时尚新锋影楼成立：</strong><br>
							&nbsp;&nbsp;&nbsp; 2003年创立全国影楼联盟，当年发展结盟店二十多家，年底在北京开设“时尚魅丽”样板店。<br>
							&nbsp;&nbsp;&nbsp; 2003年首家推出数码化妆摄影，影楼摄影化妆行业的发展，同时学校的加盟店从三家提升到三十家左右，别且时尚新锋自己的影楼成立，让学生学习和实践相融合，实用。<br>
							<strong>2004年时尚新锋教学改革获奖：</strong><br>
							&nbsp;&nbsp;&nbsp; 2004年确立时尚新锋数码影楼推广数字化影楼建设专案，教学内容全面升级。<br>
							&nbsp;&nbsp;&nbsp; 2004年被北京摄影器材城职业技能学校评为“优秀教学培训机构”。<br>
							<strong>2005年时尚新锋获得奖项：</strong><br>
							&nbsp;&nbsp;&nbsp; 2005年时尚新锋被北京摄影器材城职业技能学校评为“优秀教学培训机构”。<br>
							<strong>2006年样片工作室成立、十杰提名奖：</strong><br>
							&nbsp;&nbsp;&nbsp; 2006年成立主题样片工作室，专业大型影楼开发主题样片，在上海国际婚纱博览会上的展位广受好评，更被多家大型影楼纷纷采用.<br>
							&nbsp;&nbsp;&nbsp; 2006年时尚新锋袁晓新老师在第四届人像摄影十杰大赛中获得“十杰提名奖” 。<br>
							<strong>2007年提供张学友友情拍摄、获中国金榜摄影师、十杰称号：</strong><br>
							&nbsp;&nbsp;&nbsp; 2007年，时尚新锋摄影讲师阿杰、袁晓新、张罗平在中国摄影行业举办中国金榜时尚摄影师中同获“中国优秀时尚摄影师”、“中国金榜时尚摄影师“、称号。<br>
							&nbsp;&nbsp;&nbsp; 2007年，张学友全国巡回演出时尚新锋提供摄影友情拍摄。<br>
							&nbsp;&nbsp;&nbsp; 2007年，时尚新锋张罗平、郑雨获得人像摄影十杰称号。<br>
							<strong>2008年时尚新锋支持、策划大型活动：</strong><br>
							&nbsp;&nbsp;&nbsp; 2008年“奥运新娘”化妆造型由时尚新锋策划并设计完成，学生参与化妆。<br>
							&nbsp;&nbsp;&nbsp; 2008年中国原唱校园音乐大赛“特别支持单位”。<br>
							&nbsp;&nbsp;&nbsp; 2008年“中国金榜十佳化妆师”大赛中，时尚新锋荣获五金，并列前五名，获奖老师章铃、任琪、王宁接受中央台采访。<br>
							<strong>2009年时尚新锋大型活动及获奖：</strong><br>
							&nbsp;&nbsp;&nbsp; 2009年，在改革开放30年之际，中国美业华表奖中，时尚新锋被誉为“推动行业发展杰出贡献奖”。<br>
							&nbsp;&nbsp;&nbsp; 2009，魔术大师刘谦，当红歌星王力宏、纵贯线的演出会，时尚新锋为“特别支持单位”。<br>
							&nbsp;&nbsp;&nbsp; 2009，时尚新锋主题样片加盟在上海摄影器材展中大获成功，三天加盟200多家。再次推动影楼技术发展。<br>
							<strong>2010年时尚新锋参加春晚等大型活动：</strong><br>
							&nbsp;&nbsp;&nbsp; 2010年，中央三春晚特邀时尚新锋参与化妆造型设计。<br>
							&nbsp;&nbsp;&nbsp; 2010年，化妆总监任琪应约参加玫瑰之约嘉宾。<br>
							&nbsp;&nbsp;&nbsp; 2010年，时尚新锋摄影总监周家宝、化妆总监任琪担任全国摄影化妆交流讲座的主讲师。<br>
							<strong>2011年时尚新锋参加各类大型活动：<br>
								&nbsp;&nbsp;&nbsp; </strong>2011年，时尚新锋为清华百年校庆提供化妆造型。<br>
							&nbsp;&nbsp;&nbsp; 2011年，世界体育小姐大赛，时尚新锋为唯一指定摄影机构。<br>
							&nbsp;&nbsp;&nbsp; 2011年，《新派化妆摄影全国大赛》在时尚新锋12周年庆上正式拉开帷幕。<br>
							&nbsp;&nbsp;&nbsp; 2011年，时尚新锋为“中国校花大赛”提供化妆造型。<br>
							&nbsp;&nbsp;&nbsp; 2011年，时尚新锋担任“瑞贝卡时尚2012趋势发布”指定化妆造型机构。<br>
							&nbsp;&nbsp;&nbsp; 2011年，时尚新锋经国家商标局审核批准，正式获“时尚新锋”商标注册证。<br>
							<strong>2012年和我们一起绽放美丽：<br>
								&nbsp;&nbsp;&nbsp; </strong>2012年，时尚新锋担任“中赛文化周”化妆造型机构。<br>
							&nbsp;&nbsp;&nbsp; 2012年，主题《和我们一起绽放美丽》13年校庆大典正式拉开帷幕。<br>
							&nbsp;&nbsp;&nbsp; 2012年，《灿烂夏花·加州红沙滩造型》发布秀。<br>
							&nbsp;&nbsp;&nbsp; 2012年，《炫动桃粉·彩妆秀》发布。<br>
							<span style="display: none">&nbsp;</span>&nbsp;&nbsp;&nbsp; 2012年，《2012 秋冬婚纱造型秀》发布。<br>
							&nbsp;&nbsp;&nbsp; 2012年，时尚新锋为“Rebecaa 2013趋势发布”提供化妆造型。<br>
							&nbsp;&nbsp;&nbsp; 2012年，集团被评为“2012最具发展前景艺术教育机构”。<br>
							&nbsp;&nbsp;&nbsp; 2012年，我校化妆老师CICI、阿红老师荣获“2012年中国影视与时尚化妆大赛”金、银奖。<br>
							&nbsp;&nbsp;&nbsp; 2012年，时尚新锋副校长、化妆艺术总监任琪老师被聘担任“中国影视与时尚化妆造型大赛”评委。</p>
						<p>
							&nbsp;</p>
					</div>
				</div>
				<div class="hide" id="jquerytuts2" style="position: relative; top: 0px; left: 0px;
					display: none;">
					<div class="about1">
						<h1 class="red">
							时尚新锋化妆摄影数码培训学校优势</h1>
						<p>
							<strong>&nbsp;&nbsp;&nbsp; 时尚新锋培训的7大优势</strong><br>
							&nbsp;&nbsp;&nbsp; 1、业界荣誉：被授予2012年最具发展前景艺术教育机构；<br>
							&nbsp;&nbsp;&nbsp; 2、办学资质：具有艺术培训学校办学资质；<br>
							&nbsp;&nbsp;&nbsp; 3、特色教室：具有美术特色教室，培养每位学员的审美意识；<br>
							&nbsp;&nbsp;&nbsp; 4、资源共享：时尚新锋与东田造型、冯氏摄影同属名人视线教育集团，师资共享，让学员可以与大师面对面交流、学习；<br>
							&nbsp;&nbsp;&nbsp; 5、学历教育：独有<a href="http://www.ssxf.net/enrolmen/solutions/20130419191.htm"
								target="_blank">导师制教育</a>，包教包会，保障就业。毕业考核合格后颁发艺术专业大专毕业证书；<br>
							&nbsp;&nbsp;&nbsp; 6、资格证书：考核合格颁发全国通用摄影、化妆中、高级的<a href="http://www.ssxf.net/zskq/"
								target="_blank">职业资格等级证书</a>；<br>
							&nbsp;&nbsp;&nbsp; 7、保障就业：与全国百家知名影楼企业签订战略合作联盟，保障您的就业。</p>
						<p>
							<br>
							&nbsp;&nbsp;&nbsp; 时尚新锋是最早以化妆打出名气的，优势还是比较明显。时尚新锋从时尚行业转到影楼行业的，所以有这个优势，就是把时尚行业的一些新鲜的具有时代感的一些东西带到了影楼行业，并且以时尚突出的风格也受到了很大的欢迎。</p>
						<p>
							&nbsp;&nbsp;&nbsp; 时尚新锋开影楼学校跟国际接轨，特别是在技能和风格上面很专业，走在最前沿，国际资讯都是随时能了解到的。</p>
						<p>
							<br>
							1、 时尚新锋是国内最早从事化妆、摄影、数码培训的学校之一。<br>
							2、 时尚新锋由中国化妆委员会委员，中国诸多化妆大赛评委袁晓新先生创办，其专业在业界名列前茅。<br>
							3、 时尚新锋被多次评为优秀化妆教育单位，是劳动部指定化妆师、摄影师培训单位。<br>
							4、 时尚新锋教学经验丰富，师资力量强大所有课程设置从实际出发保持最优。<br>
							5、 时尚新锋拥有自己的实战基地。<br>
							6、 时尚新锋拥有有六十多家全年技术加盟店。<br>
							7、 时尚新锋先进的教育方式，最好的实战场地，真正的实现理论与实践相结合。<br>
							8、 时尚新锋专业、时尚、实用的风格一直领先，从未被超越。<br>
							9、 时尚新锋为所有时尚新锋学员都提供2年免费复修的机会。<br>
							10、时尚新锋为学员提供足够多的就业资讯，保证毕业学员可以找到理想工作。<br>
							11、时尚新锋与影视界、时尚界合作密切拥有最新的时尚流行资讯。&nbsp;</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
@*右边*@
<div class="wr f_r">
	@{Html.RenderAction("SiteNews", "Home");}
</div>
