@model EasyUI.Models.SitePaginated<Entity.Entities.ArticleImageEntity>
@{
	ViewBag.Title = "News";
	Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
@section head{
	<link href="@Url.Content("~/App_Themes/Site/news.css")" rel="stylesheet" type="text/css" />
}
<div class="wl f_l">
	<div class="CurrentLocation">
		当前位置： <a href="/">首页</a> &gt; 学院动态
	</div>
	<div class="wcentent">
		<div class="changeBox_a1" id="change_1">
            @*<img class="a_bigImg" src="/content/images/pic7.jpg" width="640" height="240" alt="" />
            <img class="a_bigImg" src="/content/images/pic8.jpg" width="640" height="240" alt="" />*@
            <img class="a_bigImg" src="/content/images/pic9.jpg" width="660" height="240" alt="">
            @*<img class="a_bigImg" src="/content/images/pic10.jpg" width="640" height="240" alt="" />*@
		</div>
		<div class="newsdtlist cl">
			<ul>
				@foreach (var item in Model)
	{
				<li>
                    <div class="img">
						<a href="/Content/images/@item.Photo" title="@item.Title" target="_blank">
							<img src="/Content/images/@item.Photo" alt="@item.Title">
						</a>
					</div>
                    <div class="txt">
                        <div class="tit">
                            <div class="t"><h3><a href="#" target="_blank">@item.Title</a></h3><span class="date">2013-12-25</span></div>
                            <p class="zl"><span class="zz">作者：<a href="#" target="_blank">admin</a>&nbsp;&nbsp;&nbsp;&nbsp;
								标签：<a href="#" target="_blank">晚会</a> <a href="#" target="_blank">大秀</a> </span><span class="lr">浏览：12120</span></p>
                        </div>
                        <div class="summary">
							12月24日，由时尚新锋老师与众多同学联办的“迎新圣诞晚会”暨“2013-2014时尚新锋大师班圣诞大秀”在张灯结彩的化妆基础班隆重举行，冯淑...
							<a href="#" class="more" target="_blank">&gt;&gt;查看详细</a>
						</div>
                    </div>
                </li>
	}
				

			</ul>
		</div>
	</div>
</div>
@*右边*@
<div class="wr f_r">
	@{Html.RenderAction("SiteNews", "Home");}
</div>
