@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
@section head{
	<link href="/App_Themes/Site/contact.css" rel="stylesheet" type="text/css" />
}
<div class="wl f_l">
	<div class="CurrentLocation">
		当前位置： <a href="/">首页</a> &gt; 联系我们
	</div>
	<div class="wcentent">
		<div id="acontact" class="acontact cl">
			<div class="title">
			</div>
			<ul class="nav">
				<li class="nav-one"><a href="#featured2" class="current">联系方式</a></li>
				<li class="nav-two"><a href="#core2">乘车路线</a></li>
				<li class="nav-three"><a href="#jquerytuts2">诚聘精英</a></li>
			</ul>
			<div class="list-wrap">
				<div id="featured2">
					@(Html.Raw(ViewBag.Con.Content))
					@*<ul>
						<li class="lxfs">
							<img src="/content/images/acontact1.jpg" alt="" />
							<p>
								客服QQ：<a href="tencent://message/?uin=1076657187" target="_blank">1076657187</a>
								&nbsp;&nbsp;&nbsp;&nbsp;<a href="tencent://message/?uin=332368244" target="_blank">332368244</a></p>
							<p>
								学校地址：北京西城区西砖胡同二号院</p>
							<p>
								邮编：100053&nbsp;&nbsp;&nbsp;&nbsp;邮箱（E-mail）：332368244@qq.com</p>
							<p>
								官方网站：<a href="">www.zczyjy.net</a> &nbsp;&nbsp;&nbsp;&nbsp;官方微博：<a href="">#</a></p>
							<div class="share">
								<!-- Baidu Button BEGIN -->
								<div class="bdshare_t bds_tools get-codes-bdshare" id="bdshare">
									<span class="bds_more">分享到：</span> <a class="bds_qzone">QQ空间</a> <a class="bds_tsina">
										新浪微博</a> <a class="bds_tqq">腾讯微博</a> <a class="bds_renren">人人网</a> <a class="bds_kaixin001">
											开心网</a> <a class="bds_douban">豆瓣网</a></div>
								<script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=769553"></script>
								<script type="text/javascript" id="bdshell_js"></script>
								<script type="text/javascript">
									document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + new Date().getHours();
								</script>
							</div>
						</li>
					</ul>*@
					<div class="share">
						<!-- Baidu Button BEGIN -->
						<div class="bdshare_t bds_tools get-codes-bdshare" id="bdshare">
							<span class="bds_more">分享到：</span> <a class="bds_qzone">QQ空间</a> <a class="bds_tsina">
								新浪微博</a> <a class="bds_tqq">腾讯微博</a> <a class="bds_renren">人人网</a> <a class="bds_kaixin001">
									开心网</a> <a class="bds_douban">豆瓣网</a></div>
						<script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=769553"></script>
						<script type="text/javascript" id="bdshell_js"></script>
						<script type="text/javascript">
							document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + new Date().getHours();
						</script>
					</div>
				</div>
				<div class="hide" id="core2">
					@(Html.Raw(ViewBag.Bus.Content))
				</div>
				<div class="hide" id="jquerytuts2">
					@(Html.Raw(ViewBag.ZhaoPin.Content))
				</div>
			</div>
		</div>
		<div class="dzh">
			<div class="rmkey">
				热门：<a href="/Home/NewsList/3" target="_blank" title="美发课程">美发课程</a><a
					href="/Home/NewsList/4" target="_blank" title="保健养生">保健养生</a>
					<a href="/Home/NewsList/5" target="_blank" title="形象设计">形象设计</a>
			</div>
			<div class="linezx">
				<a class="tel400" href="/contact" title="" target="">Tel: 010-63530409</a>
				
				@*<a class="zxzx" href="http://qiao.baidu.com/v3/?module=default&amp;controller=webim&amp;action=index&amp;siteid=869501&amp;lastsubid=122027&amp;from=%E5%8C%97%E4%BA%AC%E6%B5%B7%E6%B7%80&amp;bid=57a9481296d1f6cdef4e782b&amp;groupid=0&amp;groupname=%E5%9C%A8%E7%BA%BF%E5%AE%A2%E6%9C%8D1&amp;chattype=1&amp;ref=http%3A%2F%2Fwww.ssxf.net%2F"
					target="_blank" id="munezx">在线咨询</a>*@
			</div>
			<div class="share">
				<!-- Baidu Button BEGIN -->
				<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
					<span class="bds_more">分享到：</span> <a class="bds_qzone">QQ空间</a> <a class="bds_tsina">
						新浪微博</a> <a class="bds_tqq">腾讯微博</a> <a class="bds_renren">人人网</a> <a class="bds_kaixin001">
							开心网</a> <a class="bds_douban">豆瓣网</a> <a class="shareCount"></a>
				</div>
				<script type="text/javascript" id="bdshare_js" data="type=tools&uid=769553"></script>
				<script type="text/javascript" id="bdshell_js"></script>
				<script type="text/javascript">
					document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + new Date().getHours();
				</script>
			</div>
		</div>
	</div>
</div>
@*右边*@ <div class="wr f_r">
@{Html.RenderAction("SiteNews", "Home");}
</div> 