@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>宣传主页-志诚教育</title>
	<style type="text/css">
		body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, legend, button, input, textarea, th, td
		{
			margin: 0;
			padding: 0;
		}
		body
		{
			width: 100%;
			margin: 0 auto;
		}
		body div
		{
			clear: both;
		}
		#d01
		{
			background: url(content/images/01.jpg) no-repeat;
			height: 1119px;
		}
		#d02
		{
			background: url(content/images/02.jpg) no-repeat;
			height: 742px;
		}
		#d03
		{
			background: url(content/images/03.jpg) no-repeat;
			height: 781px;
		}
		#d04
		{
			background: url(content/images/04.jpg) no-repeat;
			height: 703px;
		}
		#d05
		{
			background: url(content/images/05.jpg) no-repeat;
			height: 795px;
		}
		#d06
		{
			background: url(content/images/06.jpg) no-repeat;
			height: 719px;
		}
		#d07
		{
			background: url(content/images/07.jpg) no-repeat;
			height: 730px;
		}
		#d08
		{
			background: url(content/images/08.jpg) no-repeat;
			height: 762px;
		}
		#d09
		{
			background: url(content/images/09.jpg) no-repeat;
			height: 190px;
		}
		.warp
		{
			width: 1024px;
			margin: 0 auto;
		}
		#menu a
		{
			display: inline-block;
			width: 56px;
			height: 25px;
		}
	</style>
</head>
<body>
    <div id="d01">
        <div class="warp">
			<div style="height: 110px;">
				<div id="menu" style="padding-left: 700px; width: 324px; height: 30px; padding-top: 80px;">
					<a href="http://www.zczyjy.net" target="_blank"></a>
					<a href="http://www.zczyjy.net" target="_blank"></a>
					<a href="http://www.zczyjy.net" target="_blank"></a>
					<a href="http://www.zczyjy.net" target="_blank"></a>
					<a href="http://www.zczyjy.net" target="_blank"></a>
				</div>
			</div>
			<div style="width: 100%; height: 50px; padding-top: 615px;">
				<a href="http://www.zczyjy.net/Contact" style="width: 100%; height: 100%; display: block;" target="_blank">
				</a>
			</div>
			
		</div>
    </div>
	<div id="d02">
		<div class="warp">
			
		</div>
	</div>
	<div id="d03">
		<div class="warp">
			
		</div>
	</div>
	<div id="d04">
		<div class="warp">
			
		</div>
	</div>
	<div id="d05">
		<div class="warp">
			
		</div>
	</div>
	<div id="d06">
		<div class="warp">
			
		</div>
	</div>
	<div id="d07">
		<div class="warp">
			
		</div>
	</div>
	<div id="d08">
		<div class="warp">
			
		</div>
	</div>
	<div id="d09">
		<div class="warp">
			
		</div>
	</div>
</body>
</html>
